       *{
            margin: 0;
            padding: 0;box-sizing: border-box;
        }

        body{
            background-image: linear-gradient(to right, #1c043f, #03122c);
            display: flex;
            flex-direction: column;
            height: 100vh;
            align-items: center;
            /* justify-content: center; */
            gap: 2rem;
            color: white;
        }

        h1{
            margin-top: 1rem;
        }

        form{
            width: 21rem;
            display: grid;
            grid-template-columns: 1fr 0.3fr;
            gap: 1rem;
        }

        #inputValue{
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: none;
            outline: none;
            font-size: medium;
        }

        #addBtn{
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-size: medium;
            background-color: rgb(29, 125, 162);
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
        }

        #addBtn:hover{
            box-shadow: 0px 8px 10px 0px #000;
            color: #000;
        }


        div{
            width: 21rem;
            display: grid;
            grid-template-columns: 1fr 0.2fr;
            padding: 0.5rem;
            background-color: #000;
            border-radius: 0.5rem;
            align-content: center;
            justify-content: center;
            margin: 0.5rem;
        }

        li{
            font-size: large;
            margin-left: 0.3rem;
            list-style-type: none;
            color: #fff;
        }

        .deleteBtn{
            padding: 0.2rem 0.5rem;
            font-size: medium;
            background-color: rgb(221, 37, 37);
            border: none;
            outline: none;
            color: white;
            border-radius: 0.5rem;
            cursor: pointer;
            border: 2px solid rgb(221, 37, 37);
        }

        .deleteBtn:hover{
            background-color: #000;
            border: 2px solid rgb(221, 37, 37);
            color: rgb(221, 37, 37);
        }
